html, body {
    background-color: #FAFAFA;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #393333;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.display-none {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 100vh;
    max-width: 820px;
    background-color: #FFF;
    border-left: 1px solid #F1F1F1;
    border-right: 1px solid #F1F1F1;
}
